/*
* Variables.css
*/

/*
*	Colors
*/
$color_base: #1e88e5 ;
$color_accent: #ff5252 ;
$color_base_dark: darken($color_base, 0.5);
$color_warn: tomato;


/* From light light to dark dark //to light light to dark dark */
$color_white_1: #f9f9f9;
$color_white_2: #eee;
$color_white_3: #e9e9e9;

$color_black_1: #444;
$color_black_2: #666;
$color_black_3: #090909;


/*
*	Fonts
*/

/* size */
$font_size_3: 1.8rem;
$font_size_2: 1.4rem;
$font_size_1: 1.2rem;
$font_size_05: 1.15rem;
$font_size_03: 1.07rem;
$font_size_body: 1em;
$font_size_sm: 0.5rem;

/*
* Resolutions
*/
$res_max: 1920px;
$res_large: 1680px;
$res_mid: 1280px;
$res_small: 1000px;
$res_break: 767px;
$res_handheld: 450px;

/*
* Misc
*/
$box_shadow_1: 1px 1px 1px rgba(0,0,0,0.06),-1px -1px 1px rgba(0,0,0,0.12);


/*	
*Column
*/
$col_padding:1rem;
$container_width: 1175px;
$container_ratio: 0.8;  







/* 
$resLarge: 1200px;
$resMid: 1000px;
$resBreak: 768px; 



$fontSizeGeneral:1rem;
$fontSizeBigger:1.2rem;
$fontSizeBigger2:1.4rem;
$fontSizeBig:1.8rem;

$fontSizeSmall:0.8rem; 
 
$colorLight1: #f8f8f8;
$colorLight2: #eee;   
$colorMid1: #666;
$colorDark1: #222;
$colorDark2: #090909;   
$tomato:tomato;

$colorFont: #333; 

$boxS1:1px 1px 1px rgba(0,0,0,0.2),-1px -1px 1px rgba(0,0,0,0.1); */