<section class="schedules section" ng-controller="scheduleCtrl as scheduleVm">

    <div ng-if="scheduleVm.loading">AAAA
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-if="!scheduleVm.noData" class="schedules-table">
        <div class="row schedules-row">
            <!-- thead: day names -->
            <div
                    class="schedules-item schedules-item-value"
                    ng-repeat='d in
                ["empty", "m","t","w","th","f","sat","sun"]'>
                {{::d}}
            </div>
        </div>
        <div class="schedules-values">
            <!-- individual row -->
            <div class="row schedules-row" ng-repeat="scheduleItem in scheduleVm.scheduleItem.schedule">
                <!-- time slot -->
                <div class="schedules-item-time schedules-item ">
                    <p class="schedules-item-time-text">{{::scheduleItem.time.text}}</p>
                </div>
                <div ng-repeat="days in scheduleItem.slots"
                     class="schedules-item-value schedules-item  schedules-item-h-{{::days.duration}}"
                     ng-class="{'schedules-item-h-n':days.reserved}"
                >
                    <p ng-if='days.text!=="<br>"' class="schedules-item-text"
                       ng-bind-html="::days.text">days.text!='&nbsp;'</p>
                    <p ng-if='days.text=="<br>"' class="schedules-item-text-none"
                       ng-bind-html="::days.text"></p>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="scheduleVm.noData">
        <h2 class="error text-center">No schedule found :(</h2>
    </div>
</section>